    <!-- Footer -->
        <footer class="footer">
        <div class="footer-container">
            <!-- Logo -->
            <div class="footer-logo">
            <img src="img/circle logo.svg" alt="Company Logo" />
            </div>

            <!-- Social Media Section -->
            <div class="footer-social">
            <p class="footer-text">Let’s keep in touch!</p>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>

                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fa-solid fa-envelope"></i></a>
            </div>
            </div>
        </div>

        <!-- Copyright -->
        <div class="footer-bottom">
            <p>© 2025 Meowsterminds.co . All rights reserved.</p>
        </div>
        </footer>